@charset "UTF-8";

html, body {
    height: 100%;
    font-size: 100%; 	
    padding: 0; margin: 0;
}

body {
    background-color: #f0f0f0; 
    font-family: 'Open Sans', Verdana, Arial, sans-serif;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.main {
	width: 95%;
	max-width: 80em;
	margin: 0 auto;
	padding: 0 4em 3.125em 6em;
    color: #333;
	font-weight: 300;
	line-height: 1.5;
	text-align: justify;
}

.main p {
	font-size: 140%;
}

.main h2 {
	font-size: 200%;
	font-weight: 300;
	color: #333;
	border-bottom: 1px solid #ccc;
	text-align: left;
}

/* Menu */

.menu {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #f7f7f7;
}

.menu li a {
	display: block;
	text-indent: -500em;
	height: 5em;
	width: 5em;
	line-height: 5em;
	text-align: center;
	color: #999;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
}

.menu li a:hover,
.menu li:first-child a{
	background: #47a3da;
	color: #fff;
}

.menu li.ativo a {
	background: #fff;
	color: #47a3da;
}

.menu li a:before {
	
	speak: none;
	font-style: normal;
	font-weight: normal;
	text-indent: 0em;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 1.4em;
	-webkit-font-smoothing: antialiased;
}

/* Example for media query (depends on total height of menu) */
@media screen and (max-height: 34.9375em) { 
	.menu {
		font-size: 70%;
	}
}

/* Sections e Páginas */

section.pagina {
    display:none;
}

.resultadoPesquisa {display:none; margin-top:10px;}
.listaPois {display:none;}

#apresentacao div {
    background-color: #57abdd;
    filter:alpha(opacity=70);
    opacity: 0.7;
    -moz-opacity:0.7;
    -webkit-opacity:0.7;
    width: 70%;
    margin: 100px auto 0 auto;
    padding:15px;
    color:#fff;
}

/* Customização Bootstrap */

.btn {
    border-width: 0;
    padding: 7px 14px;
    font-size: 14px;
    outline: none !important;
    background-image: none !important;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    border-radius:0;
}

.btn-primary {
    color: white;
    background-color: #57abdd;
    border-color: #47a3da;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #57abdd;
    border-color: #47a3da;
}

.btn-sm {
    padding: 5px 10px !important;
}

.form-control::-moz-placeholder {
    color: #b3b3b3;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #b3b3b3;
}
.form-control::-webkit-input-placeholder {
    color: #b3b3b3;
}

.form-control {
    font-size: 14px;
    width:30%;
    min-width: 250px;
    font-weight: normal;
    color: #333333;
    background-color: white;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-radius: 0 !important;
}

.form-control:focus {
    border-color: #999999;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group .form-control {
    width:50%;
}

.input-group {
    position: relative;
    display: block;
    border-collapse: separate;
}

#msgClientSide {
    display:none;
}

.alert {
    border-width: 1px;
    border-radius:0px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
